.card {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 15px;
    border-color: gray;
    margin: 15px;
    width: 160px;
    height: 70px;
    background-color: white;
    box-shadow: 5px 5px #808080;
}

#selected {
    border-color: red;
}

.card:hover {
    transform: scale(1.15);
}

#icon-container {
    margin: 10px 10px 10px 10px;
}

